name: Application Deployment

on:
  push:
    branches:
      - main

env:
  IMAGE_NAME: joebaho2/fastapi-app

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Docker Login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push Image
        uses: docker/build-push-action@v4
        with:
          push: true
          tags: ${{ env.IMAGE_NAME }}:${{ github.sha }}

      - name: Configure kubeconfig
        run: |
          echo "${{ secrets.KUBE_CONFIG_DATA }}" | base64 --decode > kubeconfig

      - name: Deploy to K8s
        run: |
          kubectl --kubeconfig=kubeconfig apply -f k8s/
          kubectl rollout status deployment/fastapi-deployment